name: CI/CD Pipeline Node.js

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  # JOB 1 : Tests et Qualité (Partie 2)
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Installation Node.js version 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Installation des dépendances
        run: npm install

      - name: Exécution des tests
        run: npm test || echo "Pas de tests configurés"

      - name: Vérification du code (Lint)
        run: npx eslint . || echo "Pas de lint configuré"

  # JOB 2 : Build, Sécurité et Push (Partie 2 & 3)
  build-and-push:
    needs: test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Connexion au Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build de l'image Docker
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/node-app:latest .

      - name: Scan d'image avec Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ secrets.DOCKERHUB_USERNAME }}/node-app:latest'
          format: 'table'
          severity: 'HIGH,CRITICAL'
          exit-code: '1'

      - name: Push de l'image vers Docker Hub
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/node-app:latest